@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #fff;
}

.btn-reon {
  --bs-btn-color: #fff;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000000;
  /* --bs-btn-hover-bg: #fff2ab; */
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-b {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-b-y {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-w {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  margin: 10px 10px 10px 0px;
}

.btn-reon-b-order {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-reon-wish {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d387a7;
  --bs-btn-hover-border-color: #d387a7;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  padding: 0.5rem 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-reon-added {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d387a7;
  --bs-btn-border-color: #d387a7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #885c6e;
  --bs-btn-hover-border-color: #885c6e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  padding: 0.5rem 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-reon-nextstep {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dbb95a;
  --bs-btn-border-color: #dbb95a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #79601c;
  --bs-btn-hover-border-color: #79601c;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #79601c;
  --bs-btn-active-border-color: #79601c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  padding: 0.5rem 2.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-reon-logout {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dbb95a;
  --bs-btn-active-border-color: #dbb95a;
  border-radius: 25px;
  font-size: 0.9rem;
}

#gotopspace {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#gotopspace.visible {
  display: block;
  opacity: 0.6;
}

#gotopspace:hover {
  opacity: 1;
}

.gotopshow {
  display: block;
}

#gotop {
  position: relative;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 20px 12px 15px 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gotop:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-radius: 28px;
  border: 2px solid #333;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

#gotop span {
  position: relative;
  z-index: 1;
}

#gotop i {
  position: relative;
  top: 0;
  margin-bottom: 40px;
  padding-top: 10px;
  transform: translateY(5px);
  transition: all 0.3s ease;
}

#gotop:hover:before {
  height: 100%;
}

#gotop:hover i {
  transform: translateY(0);
}

#gotop:hover,
#gotop:focus {
  color: #333;
}

#gotop:active {
  transform: scale(0.96);
}

/* login登入畫面 */
#outline {
  overflow: hidden;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/login_bg-2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frame {
  height: -moz-fit-content;
  height: fit-content;
  width: 18rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 15px rgb(66, 66, 66);
  animation: slideIn 1.2s ease forwards;
  padding: 10px;
}
.frame form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.logo {
  font-size: 2rem;
  padding: 1rem;
  color: #ffd667;
  font-weight: bolder;
  text-shadow: 1px 1px 2px gray;
}

.title {
  font-size: 1rem;
  padding-bottom: 1.2rem;
}

.enterBox {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.enterInput {
  margin-bottom: 1rem;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
  height: 2rem;
  border: solid 2px white;
  width: auto;
}
.enterInput:hover {
  border: solid 2px black;
}

.btn-login {
  margin-top: 2.5rem;
  border-radius: 20px;
  height: 2rem;
  width: 12rem;
  border: none;
  color: white;
  background-color: #a19060;
  transition: all 0.1s ease 0s;
  text-align: center;
  font-size: 1rem;
}
.btn-login:hover {
  border: solid 3px white;
}

.forget {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

/* login-index */
.login-index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  gap: 5%;
}

.login-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #dbb95a;
  border-radius: 10px;
  width: 8rem;
  height: 8rem;
  font-weight: bolder;
  position: relative;
  transition: all 0.4s ease 0s;
}
.login-item a {
  display: block;
}
.login-item:nth-child(1)::after {
  content: "MEMBER PROFILE";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(2)::after {
  content: "ORDER LIST";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(3)::after {
  content: "WISH LIST";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(4)::after {
  content: "SPECIAL OFFER";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:hover {
  background-color: #dbb95a;
  height: 70%;
  color: #fff;
}
.login-item:hover::after {
  line-height: 800%;
  color: #fff;
}

.login-side {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
  margin: 20px;
  font-weight: bolder;
}
.login-side .login-side-item {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-side .login-side-item:nth-child(1)::after {
  content: "PROFILE";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(2)::after {
  content: "ORDER";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(3)::after {
  content: "WISH";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(4)::after {
  content: "SPECIAL";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(9)::after {
  content: "HOME";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:hover::after, .login-side .login-side-item.activenow::after {
  transform: translate(-50%, -30%);
  color: gray;
}

.navbar-wrapper-new {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  box-shadow: 0px 0px 10px #999;
}

.navbar-new {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-new .logo-pic {
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-menu-new {
  display: flex;
  list-style: none;
  margin-bottom: 0rem;
  gap: 2rem;
}
.nav-menu-new .nav-item-new {
  position: static;
}
.nav-menu-new .nav-item-new:hover .dropdown-new {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-new {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 0;
  box-shadow: 0 2px 5px #ccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
}
.dropdown-new .dropdown-new-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.dropdown-new-title {
  position: relative;
  color: #333;
  padding: 5px;
  margin: 0 10px;
}
.dropdown-new-title::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
.dropdown-new-title:hover::after {
  width: 100%;
}

.dropdown-new-list .dropdown-new-item {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  padding-left: 1rem;
  gap: 10px;
}
.dropdown-new-list .dropdown-new-item .dropdown-new-link {
  position: relative;
  color: #333;
  opacity: 0.6;
}
.dropdown-new-list .dropdown-new-item .dropdown-new-link::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
.dropdown-new-list .dropdown-new-item .dropdown-new-link:hover::after {
  width: 100%;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-menu a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}

@media screen and (min-width: 993px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
#footer {
  color: rgb(255, 254, 249);
  background-color: #dbb95a;
  padding: 100px 100px 100px 100px;
  height: auto;
  display: flex;
}
#footer .footer-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}
#footer .footer-flex .footer_title {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
}
#footer .footer-flex .footer_content {
  font-size: 14px;
  line-height: 200%;
}

.motto {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  letter-spacing: 10px;
}
.motto .mottoline {
  border-bottom: solid rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.contact-color {
  color: black;
}

.contact-body {
  color: black;
  padding: 20px;
}

.social-media-logo {
  padding-bottom: 20px;
}

/* 版權尾 */
.copyright-area {
  padding: 60px 0px 30px 0px;
  background-color: white;
  color: #000;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

#footer a {
  color: white;
}

.social-media-logo a i {
  color: white;
}

/* 特色服務區 */
#service {
  height: auto;
  color: #949494;
  letter-spacing: 0.2rem;
  font-size: 0.85rem;
  position: relative;
  overflow: hidden;
  transform: translateY(10%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  padding: 7rem 0 4rem 0;
}

#service.visible {
  transform: translateY(0);
  opacity: 1;
}

.little-title {
  letter-spacing: 10px;
  font-weight: bolder;
  color: #dbb95a;
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#suggest {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  padding-bottom: 5rem;
}

#suggest.visible {
  transform: translateY(0);
  opacity: 1;
}

/* 最新消息區 */
#thenews {
  height: auto;
  position: relative;
  overflow: hidden;
  transform: translateY(10%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  padding: 2rem 0;
}

#thenews.visible {
  transform: translateY(0);
  opacity: 1;
}

.text-grey {
  color: #949494;
  text-decoration: none;
  transform: translateX(0);
  transition: color 0.1s ease 0s;
  transition: transform 0.6s ease 0s;
}
.text-grey:hover {
  color: #dbb95a;
  transform: translateX(40%);
  text-decoration: none;
}

.news-item-body {
  border-width: 2px;
  border-color: #dbb95a;
  border-style: solid;
  color: #000;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.news-item-img {
  max-width: 100%;
  /* 使圖片最大寬度為容器寬度 */
  height: auto;
  /* 根據寬度自動調整高度 */
  display: block;
}

.news-item {
  opacity: 1;
  transition: all 0.6s ease 0s;
}
.news-item:hover {
  opacity: 0.6;
}

.register_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 45%;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.7529411765);
  border-radius: 20px;
  padding: 20px;
  overflow-x: hidden;
}

.r-content-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: scroll;
  margin: 20px;
  width: 100%;
}

.register-enterInput {
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  width: 100%;
}

.r-item {
  width: 90%;
  margin-left: 20px;
}
.r-item span {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0px 10px 0px 10px;
}

.register-entercity {
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  width: 15%;
}

.register-entertown {
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  width: 19%;
}

.register-entererea {
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  width: 58%;
}

/* SIDE BAR */
#sidebar_background {
  width: 100%;
  background-color: #eee;
  color: #333;
  border-radius: 15px;
  margin: 20px 0px 20px 20px;
  padding: 5% 5% 40% 5%;
}
#sidebar_background .sidebar-all {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 10%;
}
#sidebar_background .sidebar-all:hover::after {
  opacity: 0.3;
  transform: translate(100%, -50%);
}
#sidebar_background .sidebar-all::after {
  content: "ALL";
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  font-weight: bolder;
  color: #979777;
  opacity: 0.1;
  transform: translate(0, -50%);
  transition: all 0.5s ease 0s;
}
#sidebar_background .sidebar-star {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 10%;
}
#sidebar_background .sidebar-star:hover::after {
  opacity: 0.3;
  transform: translate(55%, -50%);
}
#sidebar_background .sidebar-star::after {
  content: "STAR";
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  font-weight: bolder;
  color: #979777;
  opacity: 0.1;
  transform: translate(0, -50%);
  transition: all 0.5s ease 0s;
}
#sidebar_background .sidebar-level01 {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 10% 0 10% 10%;
}
#sidebar_background .sidebar-level01 .span01 {
  position: relative;
  font-weight: bolder;
  display: inline-block;
  margin-bottom: 10%;
}
#sidebar_background .sidebar-level01 .span01::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
#sidebar_background .sidebar-level01 .span01:hover::after {
  width: 100%;
}
#sidebar_background .sidebar-level01 .sidebar-level02 {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
#sidebar_background .sidebar-level01 .sidebar-level02 div {
  position: relative;
}
#sidebar_background .sidebar-level01 .sidebar-level02 div::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
#sidebar_background .sidebar-level01 .sidebar-level02 div:hover::after {
  width: 100%;
}
#sidebar_background .sidebar-level01 .sidebar-level03 {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin: 2% 0 5% 0;
}
#sidebar_background .sidebar-level01 .sidebar-level03 span {
  position: relative;
  opacity: 0.6;
}
#sidebar_background .sidebar-level01 .sidebar-level03 span::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
#sidebar_background .sidebar-level01 .sidebar-level03 span:hover::after {
  width: 100%;
}

/* 產品詳細內容頁 */
#orderbox {
  height: -moz-fit-content;
  height: fit-content;
  /* border: 1px solid #000; */
  margin: 20px;
}

.order-img {
  margin: 20px 20px;
  display: flex;
  flex-direction: row-reverse;
  /* background-color: #db9696; */
}

.order-text {
  margin: 20px 20px;
  /* background-color: #db9696; */
}

.show-pic-list {
  margin-bottom: 10px;
}

.side-img {
  display: flex;
  flex-direction: column;
  /* width: 75%; */
}

.width-10 {
  width: 10%;
}

.side-img-item {
  margin-bottom: 5px;
  transition: all 0.2s ease 0s;
}

.side-img-item:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

#product_intro {
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px 20px 20px 20px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 98%;
  align-items: center;
  padding-top: 20px;
}

#something_about {
  height: -moz-fit-content;
  height: fit-content;
  /* border: 1px solid #a19060; */
  margin: 20px;
}

.about-item {
  height: 200px;
  background-color: #8b4949;
  margin: 20px 0px;
}

/* 目前位置 */
#breadcrumb {
  background-color: #eee;
  color: #333;
  margin: 20px;
  height: 50px;
  border-radius: 15px;
  padding: 12px 10px 10px 20px;
}

.showing-pic {
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
}

.showing-pic img {
  border-radius: 15px;
}

.product-list-content {
  border-radius: 15px;
  margin: 20px;
}

.product-item {
  height: auto;
  border-radius: 10px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.product-item .product-card-img {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease 0;
  overflow: hidden;
}
.product-item .product-card-img .p-img {
  width: 100%;
  transition: all 0.3s ease 0s;
}
.product-item:hover {
  box-shadow: 0px 0 10px #bbb;
}
.product-item:hover > .product-card-img > .p-img {
  transform: scale(1.1);
}

.product-card-content {
  height: 55%;
  width: 80%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navigation {
  margin: 40px 20px;
}

/* 頁碼 */
.pagination {
  justify-content: center;
  margin: 0px 90px 50px 0px;
  border-radius: 0;
}
.pagination .page-item .page-link {
  background-color: #fff;
  color: #999;
  border: none;
  padding: 10px 15px;
  outline: none;
}
.pagination .page-item .page-link:hover {
  border-bottom: 2px solid #000;
  color: #000;
}
.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0;
  outline: none;
  border-bottom: 2px solid #000;
  color: #000;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  border-bottom: 2px solid #000;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  border-bottom: 2px solid #000;
}
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* 購物車側欄*/
#cart_table .cart_tr {
  height: 5rem;
  border-bottom: none;
  transition: all 0.2s ease 0s;
}

#cart_table .cart_td {
  padding: 10px 10px 10px 10px;
}

#cart_table .cart_tr:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 10px #ccc;
  transform: scale(1.05);
}

#cart_table tr {
  height: 3rem;
  border-bottom: 1px solid #ccc;
}

#cart_table td {
  padding: 10px 10px 10px 10px;
}

/* 購物車本頁 */
#plus_area {
  background-color: #fff;
  box-shadow: 2px 2px 10px #999;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.plus-item {
  display: flex;
  flex-direction: row;
}

.page-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 20px;
  margin: 20px;
  align-items: center;
  background-color: #eee;
  border-radius: 15px;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
}

.location_item {
  padding: 0px 10px;
}

.location_item a {
  padding: 0px 10px 5px 10px;
  border-bottom: 1px solid #000;
}

/* checkout配送資訊及付款資訊 */
.deliver-info {
  padding: 10px 5px 10px 10px;
  border-right: 1px solid #ccc;
}
.deliver-info .change-info {
  color: #999;
  font-size: 0.9rem;
}
.deliver-info .change-info:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.pay-info {
  margin-left: 15px;
  padding: 10px 0px;
}

#list_area {
  background-color: #fff;
  box-shadow: 2px 2px 10px #999;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px 20px 20px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.newslist {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 50px;
  display: flex;
  flex-flow: column nowrap;
}
.newslist img {
  width: 30%;
  border-radius: 20px;
}

.newsitem {
  display: flex;
  flex-flow: row wrap;
}/*# sourceMappingURL=all.css.map */