@mixin side_name {
    display: flex;
    flex-flow: column wrap;
    height: fit-content;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    @content;
}

@mixin side_after($name) {
    content: $name;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
    font-weight: bolder;
    color: #979777;
    opacity: 0.1;
    transform: translate(0, -50%);
    transition: all 0.5s ease 0s;
}

@mixin hover-underline {
    position: relative;

    &::after {
        content: "";
        width: 0%;
        height: 0.5px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s ease 0s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    @content;
}

@mixin flex-col-center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    @content;
}

@mixin flex-col-center-nowrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @content;
}