@use '_mixin.scss' as *;

#footer {
    color: rgb(255, 254, 249);
    background-color: $footer_color;
    padding: 100px 100px 100px 100px;
    height: auto;
    display: flex;

    .footer-flex {
        @include flex-col-center();
        text-align: center;
        justify-content: flex-start;

        .footer_title {
            font-size: 20px;
            font-weight: bolder;
            padding: 10px;
        }

        .footer_content {
            font-size: 14px;
            line-height: 200%;
        }
    }
}



.motto {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    letter-spacing: 10px;

    .mottoline {
        border-bottom: solid rgb(255, 255, 255);
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}


.contact-color {
    color: black;
}

.contact-body {
    color: black;
    padding: 20px;
}

.social-media-logo {
    padding-bottom: 20px;
}

/* 版權尾 */
.copyright-area {
    padding: 60px 0px 30px 0px;
    background-color: white;
    color: #000;
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.7rem;
}

#footer a {
    color: white;
}

.social-media-logo a i {
    color: white;
}