/* login登入畫面 */
#outline {
    overflow: hidden;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/login_bg-2-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame {
    height: fit-content;
    width: 18rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 5px 5px 15px rgb(66, 66, 66);
    animation: slideIn 1.2s ease forwards;
    padding: 10px;
}

.frame form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.logo {
    font-size: 2rem;
    padding: 1rem;
    color: #ffd667;
    font-weight: bolder;
    text-shadow: 1px 1px 2px gray;
}


.title {
    font-size: 1rem;
    padding-bottom: 1.2rem;
}

.enterBox {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.enterInput {
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    height: 2rem;
    border: solid 2px white;
    width: auto;
}

.enterInput:hover {
    border: solid 2px black;
}

.btn-login {
    margin-top: 2.5rem;
    border-radius: 20px;
    height: 2rem;
    width: 12rem;
    border: none;
    color: white;
    background-color: #a19060;
    transition: all 0.1s ease 0s;
    text-align: center;
    font-size: 1rem;
}

.btn-login:hover {
    border: solid 3px white;

}

.forget {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    text-decoration: underline;
}



/* login-index */
@mixin disaplay_wraprow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @content;
}

.login-index-container {
    @include disaplay_wraprow {
        height: 400px;
        width: 100%;
        gap: 5%;
    }
}

@mixin background-name($name) {
    content: "#{$name}";
    opacity: 0.3;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffd667;
    text-align: center;
    line-height: 250%;
    transition: all 0.4s ease 0s;
    @content;
}

.login-item {
    @include disaplay_wraprow {
        border: 2px solid #000;
        border-radius: 10px;
        width: 8rem;
        height: 8rem;
        font-weight: bolder;
        position: relative;
        transition: all 0.4s ease 0s;
    }

    &:nth-child(1)::after {
        @include background-name(MEMBER PROFILE) {}
    }

    &:nth-child(2)::after {
        @include background-name(ORDER LIST) {}
    }

    &:nth-child(3)::after {
        @include background-name(WISH LIST) {}
    }

    &:nth-child(4)::after {
        @include background-name(SPECIAL OFFER) {}
    }

    &:hover {
        background-color: #a19060;
        height: 70%;
        color: #fff;

        &::after {
            line-height: 800%;
            color: #000;
        }
    }
}