/* 目前位置 */
#breadcrumb {
    background-color: #eee;
    color: #333;
    margin: 20px;
    height: 50px;
    border-radius: 15px;
    padding: 12px 10px 10px 20px;
}

// 圖片輪播

.showing-pic {
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
}

.showing-pic img {
    border-radius: 15px;
}


// 商品列表
.product-list-content {
    border-radius: 15px;
    margin: 20px;
}

.product-item {
    height: auto;
    border-radius: 10px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    align-items: center;
    transition: all 0.2s ease 0s;

    .product-card-img {
        width: 100%;
        aspect-ratio: 1;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease 0;
        overflow: hidden;

        .p-img {
            width: 100%;
            transition: all 0.3s ease 0s;
        }
    }

    &:hover {
        box-shadow: 0px 0 10px #bbb;

        &>.product-card-img>.p-img {
            transform: scale(1.1);
        }
    }
}


.product-card-content {
    height: 55%;
    width: 80%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#navigation {
    margin: 40px 20px;
}

/* 頁碼 */
.pagination {
    justify-content: center;
    margin: 0px 90px 50px 0px;
    border-radius: 0;

    .page-item {

        .page-link {
            background-color: #fff;
            color: #999;
            border: none;
            padding: 10px 15px;
            outline: none;

            &:hover {
                border-bottom: 2px solid #000;
                color: #000;
            }

            &:focus {
                box-shadow: 0 0 0 0;
                outline: none;
                border-bottom: 2px solid #000;
                color: #000;
            }
        }

        &.active .page-link {
            background-color: #fff;
            color: #000;
            border-radius: 0;
            border-bottom: 2px solid #000;
        }

        &.active .page-link {
            background-color: #fff;
            color: #000;
            border-radius: 0;
            border-bottom: 2px solid #000;
        }

        &:first-child .page-link {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:last-child .page-link {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}