.bg-color_red{
    background-color: red;
}
.col-one{
    font-size: 18pt;
    font-weight: bolder;
}
.col-two{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.col-three{
    background-color: antiquewhite;
    color: orange;
}
.col-four{
    background-color: black;
    color: azure;
    font-style: italic;
    line-height: 5em;
    font-family: Arial, Helvetica, sans-serif;
    
}
.col-me{
    background-color: thistle;
    color: purple;
}